*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aqua;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-around;

    list-style: none;
    
}
li{
   font-size: 20px;
   text-transform: capitalize;
}
